.hero1 {
  width: 100%;
  height: 120vh;
  color: rgba(240, 240, 250, 1);
  position: relative;
  overflow: hidden;
}

/* styling for video */
.hero1 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* shadow effect */
.shadow-right::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    transparent 30%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.shadow-left::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8) 10%,
    transparent 100%
  );
}
.shadow-down::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    transparent 30%,
    rgba(0, 0, 0, 1) 100%
  );
}

/* styling for image */
.hero1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* styling for text boxes */
.textbox1 {
  width: 650px;
  position: absolute;
  top: 35%;
  left: 6%;
  z-index: 2;
}
.textbox2 {
  width: 650px;
  position: absolute;
  top: 14%;
  left: 50%;
  z-index: 2;
}
.textbox3 {
  width: 650px;
  position: absolute;
  top: 11%;
  left: 6%;
  z-index: 2;
}
.textbox4 {
  width: 650px;
  position: absolute;
  top: 15%;
  left: 50%;
  z-index: 2;
}
.textbox5 {
  width: 650px;
  position: absolute;
  top: 42%;
  left: 7%;
  z-index: 2;
}

.textbox-inner h2 {
  font-size: 3rem;
  text-transform: uppercase;
  max-width: 90%;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.textbox-inner p {
  margin-top: 15px;
}

.textbox-inner a {
  /* background-color: red; */
  padding: 0px 20px;
  margin-top: 30px;
  height: 48px;
  display: inline-flex;
  text-decoration: none;
  border: 1px solid rgba(240, 240, 250, 0.35);
  border-radius: 4px;
  align-items: center;
  color: rgba(240, 240, 250, 1);
  cursor: pointer;
  transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: rgba(0, 0, 0, 0.5);
}

.textbox-inner a:hover {
  background-color: rgba(240, 240, 250, 1);
  color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.4s;
}

.textbox-inner a > div {
  font-size: 0.75rem;
  margin: auto;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  line-height: 100%;
}

.icon {
  height: 16px;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
