.footer {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding: 0rem 5rem;
  justify-content: space-between;
}

.footer-icon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(245, 245, 245, 0.366);
  cursor: pointer;
}

.footer-links {
  width: 24%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.footer p {
  font-size: 0.7rem;
  font-weight: 500;
  color: whitesmoke;
}
